<div class="container">
  <mat-card>
    <h1 class="title">Patient details</h1>
    <hr />
    <div class="data-wrapper" *ngIf="patient">
      <div class="content">
        <h4>ID:</h4>
        <h5>{{ patient.id }}</h5>
      </div>
      <hr />
      <div class="content">
        <h4>First Name:</h4>
        <h5>{{ patient.firstName }}</h5>
      </div>
      <hr />
      <div class="content">
        <h4>Last Name:</h4>
        <h5>{{ patient.lastName }}</h5>
      </div>
      <hr />
      <div class="content">
        <h4>Registration Date:</h4>
        <h5>{{ patient.registeredDate | date: 'medium' }}</h5>
      </div>
      <hr />
      <div class="content">
        <h4>Doctor:</h4>
        <h5>{{ patientDoctor.firstName }}&nbsp;{{ patientDoctor.lastName }},&nbsp;{{ patientDoctor.title }}</h5>
      </div>
      <hr />
      <div class="content" *ngFor="let item of patient.addresses; let i = index">
        <h4>{{ item.type }}&nbsp;Address:</h4>
        <h5>{{ item.street }},&nbsp;{{ item.city }},&nbsp;{{ item.zipcode }},&nbsp;{{ item.country }}</h5>
      </div>
      <hr />
    </div>
  </mat-card>
</div>
