<div class="container">
  <mat-card>
    <h1 class="title">{{ title }}</h1>
    <hr />
    <div class="data-wrapper">
      <form class="example-form" [formGroup]="advancedForm" novalidate>
        <table class="example-full-width" cellspacing="0">
          <tr class="tr">
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr class="tr">
            <td>
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [max]="maxDate"
                  formControlName="birthDate"
                  (input)="isPatientAdoult()"
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>VAT Number</mat-label>
                <input type="text" matInput formControlName="vatCode" placeholder="Ex. 123456789" />
                <mat-error *ngIf="advancedForm.get('vatCode').hasError('age')">
                  VAT code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr class="tr">
            <td>
              <mat-form-field>
                <mat-label>Doctor</mat-label>
                <input
                  type="text"
                  placeholder="Pick one"
                  aria-label="Number"
                  matInput
                  [matAutocomplete]="auto"
                  (input)="filterDoctors($event)"
                  formControlName="doctor"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let doctor of filteredDoctors"
                    [value]="doctor.firstName + ' ' + doctor.lastName + ', ' + doctor.title"
                  >
                    {{ doctor.firstName }}&nbsp;{{ doctor.lastName }},&nbsp;{{ doctor.title }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <ng-container formArrayName="addresses" *ngFor="let address of f.controls; let i = index">
          <table
            style="display: block; padding: 2.5rem 0"
            class="example-full-width"
            cellspacing="0"
            [formGroupName]="i"
          >
            <tr class="tr">
              <td>
                <h4 style="text-transform: uppercase" *ngIf="i === 0">Home Address</h4>
                <h4 style="text-transform: uppercase" *ngIf="i !== 0">Aditional Address</h4>
              </td>
            </tr>
            <tr>
              <td *ngIf="i === 0">
                <mat-form-field>
                  <mat-label>Address type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option value="HOME"> Home </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td *ngIf="i !== 0">
                <mat-form-field>
                  <mat-label>Address type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let type of addressTypes" [value]="type.value">
                      {{ type.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field *ngIf="i !== 0 && isTypeExist(i)">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput formControlName="name" required />
                </mat-form-field>
              </td>
            </tr>
            <tr class="tr">
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Street</mat-label>
                  <textarea matInput placeholder="Ex. 100 Main St" formControlName="street"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Telephone</mat-label>
                  <input type="tel" matInput placeholder="555-1234" formControlName="phone" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
                  <mat-error
                    *ngIf="address.get('email').hasError('email') && !address.get('email').hasError('required')"
                  >
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="address.get('email').hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Ex. San Francisco" formControlName="city" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Country</mat-label>
                  <input matInput placeholder="Ex. USA" formControlName="country" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Postal Code</mat-label>
                  <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlName="zipcode" />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <button
            *ngIf="i !== 0 && mode !== 'show'"
            mat-stroked-button
            color="warn"
            (click)="onRemoveAddress(i)"
            role="button"
            style="float: right"
          >
            Remove address
          </button>
        </ng-container>
        <button
          mat-stroked-button
          color="primary"
          *ngIf="mode !== 'show'"
          (click)="onAddAddress()"
          role="button"
          [disabled]="!f.valid"
        >
          Add another address
        </button>
      </form>
    </div>
    <hr />
    <div class="contols" *appHasRole="'ADMIN'">
      <button mat-raised-button color="warn" type="submit" *ngIf="mode == 'show'" (click)="onPatientAction('delete')">
        DELETE
      </button>
      <button mat-raised-button color="primary" type="submit" *ngIf="mode === 'show'" (click)="onEdit()">EDIT</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!advancedForm.valid"
        *ngIf="mode !== 'show'"
        (click)="onPatientAction('save')"
      >
        SAVE
      </button>
    </div>
  </mat-card>
</div>
